NEXT_PUBLIC_SUPABASE_URL=https://lubadbhfjeqjdbeovyik.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_4VQgiXeHavQwlc8yTvoQAA_AIOEbwsc

# NVIDIA API / NIM OpenAI-compatible endpoint
NVIDIA_API_KEY=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
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
NVIDIA_MODEL=meta/llama-3.1-70b-instruct
